<table border>
<tr><th>ID</th><th>Question</th><th>Edit</th><th>Open/Close</th>
{% for question in questions %}
<tr><td>{{question[0]}}</td>    {# qid #}
    <td><pre>{{question[1]}}</pre></td> {# content #}
    <td><button
    onClick='document.location.href="/question/delete/{{question[0]}}";'>Delete</button></td>
    <td>{% if qid > 0 %}
            {% if question[0] == qid %}
            <button onClick='document.location.href="/question/close/{{question[0]}}";'>Close</button>
            {% endif %}
        {% else %}
            {% if not question[4] %}
        <button onClick='document.location.href="/question/open/{{question[0]}}";'>Open</button>
            {% endif %}
        {% endif %}
    </td>
    <td>{% if question[3] %}    {# startTime #}
        <button onClick='document.location.href="/question/view/{{question[0]}}";'>View</button>
        {% endif %}
    </td>
</tr>
{% endfor %}
<tr><td></td>
    <form method=post action={{url_for('addQuestion')}}>
    <td><textarea name=question rols=7 cols=30></textarea></td>
    <td><input type=submit value='Save'></form></td>
</tr>
</table>
